<div style="border-bottom: 1px dotted #7F7F7F; margin: 10px 0;"></div>

<div id="contact" style="display: flex; flex-direction: column; width: 200px;">
  <p class="textColor" style="margin:0; text-align:left;"><%= siteConfig.fullSignature %></p>
  <% siteConfig.socialLinks.forEach(function(link) { %>
    <a href="<%= link.url %>" style="margin-top: 5px;"> <p class="textColor" id="metadata.contactInfo.value"><%= link.label %></p></a>
  <% }); %>
  <% if (siteConfig.icpNumber) { %>
    <a href="<%= siteConfig.icpLink %>" target="_blank" style="margin-top: 5px; white-space: nowrap;"><%= siteConfig.icpNumber %></a>
  <% } %>
</div>
<div class="clear">
</div>
