<div class="report-layout">
  <% if (media && media.length) { %>
    <div class="report-gallery cols-<%= reportColumnCount %>">
      <% media.forEach(function(mediaItem) { %>
        <a class="report-gallery-link" href="<%= getLargeUrl(mediaItem) %>">
          <div class="media-item is-thumbnail">
            <% if (mediaItem.isVideo) { %>
              <video autoplay loop muted playsinline preload="metadata">
                <source src="<%= mediaItem.mediaUrl %>">
              </video>
            <% } else { %>
              <img src="<%= mediaItem.mediaUrl %>" alt="<%= mediaItem.original_name || collection.name %>" loading="lazy">
            <% } %>
          </div>
        </a>
      <% }); %>
    </div>
  <% } %>
  <% if (reportHtml) { %>
    <div class="report-text"><%- reportHtml %></div>
  <% } else { %>
    <div class="report-empty"><%= __('public.noReport') %></div>
  <% } %>
</div>
